@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image:url('../public/images/backgroundTheme2.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}